:root {
    --text-color1: #712B2B;
    --text-color2: #26B6BF;
    --text-color3: #131313;
    --text-color1b: #AA3434;
    --text-color3b: #0C0C0C;

    --background-color: #151419;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--text-color1);
    letter-spacing: 5px;
    text-transform: capitalize;
    background-color: var(--background-color);
    overflow-x: hidden;
}

h1 {
    margin: 0 150px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 10px;
    color: var(--text-color1b);
}

h2 {
    margin: 20px 150px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 10px;
    color: var(--text-color1b);
}

h3 {
    margin-left: 150px;
    vertical-align: middle;
    transition: 0.1s;
    flex: 3;
}

h4 {
    padding: 5px 0;
    margin: 0 25px;
    text-align: center;
}

h5 {
    color: var(--text-color2);
    vertical-align: top;
    text-align: center;
    margin: 10px 25px;
    width: fit-content;
    letter-spacing: 0px;
    font-weight: 500;
    font-size: 20px;
    transition: 0.3s;
    align-self: center;
    justify-self: center;
}


a {
    color: var(--text-color2);
    text-decoration: none;
}

.color_blue {
    color: var(--text-color2);
}

.color_red {
    color: var(--text-color1);
}

